@import "fonts.css";
html {
  height: 100%;
  font-family: "Proxima Nova Rg" ;
}

body {
  background-image: linear-gradient(135deg, #839d92 0%, #1badc0 51%, #186884 75%);
  color: wheat;
}

.turn {
  text-align: center;
  width: 30vh;
  position: relative;
  margin: 1vh auto;
  font-size: 25px;
  border-radius: 10px;
  background-color: gray;
  cursor: default;
}

.container {
  height: 38vh;
  width: 38vh;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 80%;
  width: 80%;
  margin: 0 auto;

}

.box {
  border: 1px solid;
  position: relative;
  float: left;
  width: 33%;
  height: 33%;
  box-sizing: border-box;
  border-radius: 1vh;
  font-size: 50px;
  line-height: 10vh;
  text-align: center;
  cursor: default;
}

.button {
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: gray;
  width: 30vh;
  position: relative;
  margin: 1vh auto;
  cursor: default;

}

.button:active {
  background-color: rebeccapurple;
}

.header {
  display: flex;
  margin: 10vh auto;
  cursor: default;
}

.header-content {
  width: 33%;
  text-align: center;
  font-size: 2vw;
}

.tie {
  background-color: indigo;
}

.win {
  background-color: green;
}

.lost {
  background-color: darkred;
}
