<template>
  <div id="xogame">
    <div class="header">
      <div class="header-content">
        <div> AI:{{ ai_wins }}</div>
      </div>
      <div class="header-content">
        <div v-if="is_active === false"> {{ message }}</div>
      </div>
      <div class="header-content">
        <div> Player:{{ player_wins }}</div>
      </div>
    </div>
    <div class="turn">
      <div>Turn: {{ turn_state }}</div>
    </div>
    <div class="container">

      <div class="grid">
        <div class="box"
             v-for="(box, index) in grid"
             :key="box.state"
             @click="turn_click(index)"
             :class="{tie: tie, win: win, lost: lost}">
          <div v-if="grid[index]!== 'null'"> {{ grid[index]}}</div>
        </div>
      </div>

    </div>
    <div class="button" @click="retry()"> Retry?</div>
  </div>
</template>

<script>
  export default {
    name: 'xogame',
    data() {
      return {
        // current turn data
        turn_state: 'X',
        // current game state, used for render winning message
        is_active: true,
        // grid data
        // used for initial render
        grid: ['null', 'null', 'null',
          'null', 'null', 'null',
          'null', 'null', 'null'],
        win_condition: [
          // lines
          [0, 1, 2], [3, 4, 5], [6, 7, 8],
          // columns
          [0, 3, 6], [1, 4, 7], [2, 5, 8],
          // diagonal
          [0, 4, 8], [2, 4, 6]

        ],
        message: null,
        win_msg: ['  You win. ', 'It\'s been fun. Don\'t come back. ', ' Press the button again. ', '  I hate you so much. ', ' You win because i\'m a potato'],
        ai_wins: 0,
        player_wins: 0,
        tie: false,
        win: false,
        lost: false

      }
    },
    methods: {
      retry: function () {
        // empty grid first
        this.grid.length = 0;
        // set player make turn first
        this.turn_state = 'X';
        // on next tick (important) fill grid with starting grid
        this.$nextTick(function () {
          this.grid =
            ['null', 'null', 'null',
              'null', 'null', 'null',
              'null', 'null', 'null']
        });
        this.is_active = true;
        this.tie = false;
        this.win = false;
        this.lost = false;

      },
      turn_click: function (index) {
        // if game is not active do nothing
        if (this.is_active) {
          if (this.grid[index] === 'null') {
            // call player turn function
            this.make_move(index);
            // AI turn
            let index2 = this.best_spot();
            console.log(index2);
            if (this.is_active !== false) {
              this.make_move(index2);
            }


          }
        }
        else {
          // testing is_active var
          console.log('is active test')
        }


      },
      make_move: function (index) {
        // Vue cant detect changes of an array element directly bcase of limitations of JS
        // so i use Vue.set
        // this.$set(this.grid, index, this.turn_state);
        // but now it works without Vue.set and i dont know why
        this.grid[index] = this.turn_state;
        //check winner
        this.win_check();
        // switch turn
        this.flip_flop();


      },
      // Utility functions
      // Shuffle method like Python
      shuffle: function (a) {
        for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
        }
        // return first element of shuffled array
        return a[0];
      },
      flip_flop: function () {
        if (this.turn_state === 'X') {
          this.turn_state = 'O';
        }
        else (this.turn_state = 'X');
      },
      // choose best box to make a turn
      best_spot: function () {
        // return this.minimax(this.grid, 'O').index;
        return this.shuffle(this.check_empty())

      },
      // generate random number for render random message
      rng: function (length) {
        return Math.floor(Math.random() * (length));
      },
      // Check functions
      // check grid for winning combination
      win_check: function () {
        // magic below
        // compare current grid state with win combinations
        this.win_condition.forEach(array => {
          if (array.every(box => this.grid[box] === this.turn_state)) {
            // stop game
            this.is_active = false;
            // console.log(array);
            if (this.turn_state === 'X') {
              // if player wins render random ai excuse
              this.message = this.win_msg[this.rng(this.win_msg.length)];
              // increase player score
              this.player_wins++;
              // and set background colour
              this.win = true;
              return 'human win';

            }
            else if (this.turn_state === 'O') {
              // If AI(O) render taunt
              this.message = ' Didn\'t we have some fun, though? ';
              // increase AI score
              this.ai_wins++;
              // and set background colour
              this.lost = true;
              return 'ai win'

            }
          }

        });
        this.tie_check();
      },
      // check functions
      //empty boxes
      check_empty: function (arr, val) {
        arr = this.grid;
        val = 'null';
        let indexes = [], i = -1;
        while ((i = arr.indexOf(val, i + 1)) != -1) {
          indexes.push(i);
        }
        return indexes;

      },
      //check for tie
      tie_check: function () {
        if (this.is_active === true) {
          // if no more empty boxes  AND nobody wins - tie
          if (this.check_empty().length === 0) {
            // set is_active to false for make message box active
            this.is_active = false;
            this.message = 'It\'s not a win. It\'s Tie. Try harder.';
            //set tie to true and set new background colour
            this.tie = true;
            return 'tie';
          }
        }
      },
      // minimax https://www.youtube.com/watch?v=P2TcQ3h0ipQ
      // but when i  realise i need to rewrite half of my code i drop'd this idea. Not today.
      // minimax: function (new_grid, turn) {
      //   let empty = this.check_empty();
      //
      //   if (this.win_check() === 'human win') {
      //     return {score: -10}
      //   }
      //   else if (this.win_check() === 'ai win') {
      //     return {score: 10}
      //   }
      //   else if (empty.length === 0) {
      //     return {score: 0}
      //   }
      //   let possible_moves = [];
      //   for (let x = 0; x < empty.length; x++) {
      //     let move = {};
      //     move.index = new_grid[empty[x]];
      //     new_grid[empty[x]] = turn;
      //
      //     if (turn === 'O') {
      //       let result = this.minimax(new_grid, 'X');
      //       move.score = result.score;
      //     }
      //     else {
      //       let result = this.minimax(new_grid, 'O');
      //       move.score = result.score;
      //     }
      //     new_grid[empty[x]] = move.index;
      //     possible_moves.push(move);
      //   }
      //
      //   let best_move;
      //   if (turn === 'O') {
      //     let best_score = -10000;
      //     for (let i = 0; i < possible_moves.length; i++) {
      //       if (possible_moves[i].score > best_score) {
      //         best_score = possible_moves[i].score;
      //         best_move = i;
      //       }
      //     }
      //   } else {
      //     let best_score = 10000;
      //     for (let i = 0; i < possible_moves.length; i++) {
      //       if (possible_moves[i].score < best_score) {
      //         best_score = possible_moves[i].score;
      //         best_move = i;
      //       }
      //     }
      //   }
      //   console.log(possible_moves[best_move])
      //   return possible_moves[best_move];
      // }

    }
  }
</script>

<style>
@import "./style/style.css";
</style>
